body {
  background-color: #f4f5f6;
}

.container {
  background-color: white;
  max-width: 85%;
  padding-left: 0;
  padding-right: 0;
}

.blog-header {
  background-color: #f72210;
  padding: 1.2rem 1.25rem;
}
.blog-header .brand {
  color: white;
}
.blog-header .brand h1 {
  font-size: 5rem;
  font-weight: 800;
}
.blog-header .text-sm {
  color: white;
  font-size: 0.85rem;
  font-weight: bold;
}

.st0 {
  fill: white;
}

.btn-txt {
  color: white;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
}

.col-title {
  color: #888;
  font-weight: bold;
  font-size: 1rem;
  padding: 1.2rem 0 0.5rem 0;
}

.title-red {
  color: #f72210;
  font-weight: bold;
  font-size: 1rem;
  padding: 1.2rem 0 0.5rem 0;
}

.btn-white {
  background-color: white;
  border-radius: 0;
  color: #f72210;
  font-weight: bold;
  padding: 4px 22px 4px 22px;
}

.btn-red {
  background-color: #f72210;
  color: white;
}

.btn-white:hover {
  background-color: white !important;
  color: #f72210;
}

.navbar-nav {
  border-bottom: 1px solid #999;
  padding-bottom: 12px;
}

.nav-item {
  border-left: 1px solid #999;
}

.nav-item :first-child,
.nav-item :last-child {
  border-left: none;
}

.nav-link {
  color: black;
  font-size: 21px;
  font-weight: bold;
}

.nav-link:hover {
  color: #f72210;
}

.card-title {
  cursor: pointer;
}

.card-title:hover {
  text-decoration: underline;
  text-decoration-color: #f72210;
}

.opinion-item {
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 0;
  border-bottom: 1px solid #9f9f9f;
  margin-right: 4px;
}
.opinion-item .avatar {
  flex: 0 1 63px;
  margin-right: 12px;
}
.opinion-item .opinion-content {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.opinion-item .opinion-content .opinion-title {
  font-weight: bold;
  font-size: 1rem;
  color: black;
}
.opinion-item .opinion-content .opinion-title:hover {
  color: #f72210;
  text-decoration: none;
}
.opinion-item .opinion-content .opinion-author {
  font-weight: bold;
  font-size: 1rem;
  color: #333;
}

.ln-item {
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 0;
  border-bottom: 1px solid #9f9f9f;
  margin-right: 4px;
}
.ln-item .avatar {
  flex: 2;
  margin-right: 12px;
}
.ln-item .ln-content {
  flex: 3;
  display: flex;
  flex-direction: column;
}
.ln-item .ln-content .ln-title {
  font-weight: bold;
  font-size: 1rem;
  color: black;
}
.ln-item .ln-content .ln-title:hover {
  color: #f72210;
  text-decoration: none;
}
.ln-item .ln-content .ln-author {
  font-weight: bold;
  font-size: 1rem;
  color: #333;
}

.travel-section {
  background-color: #f4f5f6;
  margin: 0 3px 0 3px;
}
.travel-section .row {
  margin: 0 0px 0 0px;
}
.travel-section .col-title {
  margin-left: 1.5rem;
}
.travel-section .card-body {
  background-color: #f4f5f6;
}
.travel-section .card {
  background-color: #f4f5f6;
  border: none;
}

.nl-img {
  background: url("./images/newsweek-app.png") no-repeat center;
}

.subscribe-section {
  padding-top: 2rem;
  padding-left: 1rem;
}
.subscribe-section .left {
  background-color: #f4f5f6;
  margin: 0 5px 0 5px;
  padding: 2rem 1rem 2rem 1rem;
}

.title-red-left {
  color: #f72210;
  font-weight: bold;
  margin-left: 1rem;
  font-size: 1rem;
  padding: 1.2rem 0 0.5rem 0;
}

.copyright {
  color: #888;
  font-size: 0.8rem;
}

.st1 {
  fill: #f72210;
}

.social {
  color: #333;
  cursor: pointer;
}

.social:hover {
  color: #888;
}

footer {
  padding: 0.5rem 1rem 0.5rem 1rem;
}
footer .footer-bottom h5 {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 0.5rem;
}
footer .footer-bottom a {
  margin: 0 0.5rem 0 0.5rem;
  color: #333;
}
footer .footer-bottom a:hover {
  text-decoration: none;
  color: #000;
}
footer .ft-link {
  flex: 1;
}

/*# sourceMappingURL=style.css.map */
