$primary: #f72210;

.blog-header {
  background-color: $primary;
  padding: 1.2rem 1.25rem;

  .brand {
    color: white;

    h1 {
      font-size: 5rem;
      font-weight: 800;
    }
  }

  .text-sm {
    color: white;
    font-size: 0.85rem;
    font-weight: bold;
  }
}

.st0 {
  fill: white;
}

.btn-txt {
  color: white;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn-white {
  background-color: white;
  border-radius: 0;
  color: $primary;
  font-weight: bold;
  padding: 4px 22px 4px 22px;
}

.btn-white:hover {
  background-color: white !important;
  color: $primary;
}

.navbar-nav {
  border-bottom: 1px solid #999;
  padding-bottom: 12px;
}

.nav-item {
  border-left: 1px solid #999;
}

.nav-item :first-child,
.nav-item :last-child {
  border-left: none;
}

.nav-link {
  color: black;
  font-size: 21px;
  font-weight: bold;
}

.nav-link:hover {
  color: $primary;
}
